.season .loading {
    color: #f0a828;
}

.season {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.season .season-peek {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    border-bottom: 1px solid #e6e6e6;
}

.season .season-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.season .season-row {
    list-style: none;
    display: table-row;
}

.season .season-row > p {
    margin: 5px 0;
    font-size: 1em;
}

.season .season-row > h3 {
    color: #f0a828;
}

.season .player-name {
    display: inline-block;
    min-width: 100px;
}

.season .drop-arrow {
    width: 20px;
    height: 12px;
    background: url('../../assets/images/down_arrow_white.png') no-repeat 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.15s linear;
}

.season .drop-arrow.open {
    transform: rotate(-180deg);
}
