.top-stats {
    flex-grow: 1;
    padding: 0;
}

.top-stats .stat {
    padding: 0 25px;
    white-space: nowrap;
}

.top-stats li p,
.top-stats li h3 {
    display: inline-block;
}

.top-stats li h3 {
    color: #f0a828;
}

.top-stats li p {
    margin: 0 10px;
}


