body {
    background: #000 url('./assets/images/pubg_dark_bg_2.png') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;
}

.mypubg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mypubg h1 {
    position: fixed;
    top: 10px;
    left: 50px;
    text-align: left;
    color: #f0a828;
}

