body {
    background: #000 url('./assets/images/black_bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;
}

.mypubg {}

.mypubg h1 {
    text-align: center;
    color: #f0a828;
}

